@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 70px;
  margin-top: -50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nav-li {
  color: #00eeff;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: red;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #0ef;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

#headingone {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
#headingmain {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
#headingtyped {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
#headingpara {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
#home-sci a {
  opacity: 0;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2 * var(--i));
}
#btn-box {
  opacity: 0;
  display: inline-block;
  animation: slideTop 2s ease forwards;
  animation-delay: 1.5s;
}
#title {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  scroll-behavior: auto;
}
